<!DOCTYPE html>
<html>
<head>
  <title>MedRobots</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="head">
	<div class="uk-width-1-2 uk-align-center uk-animation-fade">
		<center><%= image_tag "robot.png", :style=>" width: 300px; height: 300px" %>
		  <h1><%= link_to "MedRobots", root_path %></h1>
		  <h3>You be in need for MedRobot even now!</h3>
		</center>
    </div>
</div>
<div class="uk-width-medium-1-2 uk-width-small-1-1 uk-align-center">
  <%= yield %>
</div>
<div class="footer">
	<div class="uk-align-center"><center>Created by AlexBeznos<br>To restart the base click to the <%= link_to "link", :restore %></center>
	</div>
</div>
</end>

</body>
</html>
